body {
    background-color:aquamarine;
}

a {
    transition: 0.7s; /*변경되는 속도를 지정*/
}

a:link { /* 방문 전 */
    color: brown;
    text-decoration: none;
}

a:visited { /* 방문 후 */
    color: red;
    text-decoration:underline;
}

a:active { /* 누른 상태 */
    font-weight: bold;
}

a:hover { /* 마우스 포인터를 위에 올린 상태 */
    font-size: 20px;
    text-decoration:underline;
}
section {
    overflow: hidden;
}
article {
    float: left;
}