*{
    margin: 0;
    padding: 0;
}
#wrap {
    width: 100%;
    text-align: left;
}
#pd-d {
    width: 100%;
    padding: 15px;
    height: 20px;
}
#pd-d > select{
    margin-left: 10px;
}
#main {
    display: flex;
    width: 100%;
    border: 1px solid gray;
    height: auto;
}
#left {
    padding: 15px;
    width: 20%;
    background-color: rgb(235, 232, 232);
}
#left > div {
    height: calc(400px / 6);
}
#left > div:hover {
    background-color: lightgray;
    cursor: pointer;
}
#center {
    padding: 15px;
    width: 30%;
}
#center > div {
    height: calc(400px / 5);
}
#right {
    padding: 15px;
    width: 45%;
}
#right > div {
    height: calc(400px / 5);
}
#enroll {
    width: 5%;
}
#enroll > button {
    margin-top: 10px;
    padding: 10px;
}

select {
    height: 25px;
}