.stock-inputer {
    width: 100%;
    border: 1px solid;
    padding: 5px;
}
.stock-inputer > div {
    text-align: left;
    margin-bottom: 15px;
}
.stock-inputer > div:last-child {
    text-align: center;
    margin-bottom: 0;
}
.stock-inputer button {
    padding: 5px 35px;
    cursor: pointer;
}
.stock-inputer button:nth-child(2) {
    margin-left: 15px;
}
.stock-inputer span {
    display: inline-block;
    width: 250px;
}
.stock-inputer input[type=text] {
    line-height: 21px;
}

