<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="btnShowUser">click</button>
    <form method="POST" onsubmit="return chkType()">
        <input type="text" name="name" placeholder="이름">
        <input type="number" name="age" placeholder="나이">
        <input type="hidden" name="sortOn">
        <input type="hidden" name="flagName">
        <input type="hidden" name="flagAge">
        <input type="submit" value="전송">
        <input type="button" value="전체삭제" onclick="removeAll()">
    </form>
    <ol id="display"></ol>

    <script>
        let users = <%- JSON.stringify(users) %>;
        let flagName = flagAge = false;
        let frm = document.forms[0];

        if(<%- show %>) {
            showUsers();
        }

        btnShowUser.onclick = () => {
            showUsers();
        }

        function showUsers() {
            display.innerHTML = "";

            let str = "<table border='1'><tr><th onclick=\"sortUsers('name');\">이름</th><th onclick=\"sortUsers('age')\">나이</th></tr>";

            users.map(item => {
                // console.log(item);
                str += `<tr><td>${item.name + "</td><td>" + item.age + "</td>"}</tr>`;
            });

            str += "</table>";

            display.innerHTML = str;
            window.scrollTo(0, document.body.scrollHeight);
        }
        
        function sortUsers(type) {
            frm[2].value = type;
            switch(type) {
                case 'name':
                    flagName = !flagName;
                    frm[3].value = flagName;
                    sort(type, flagName);
                    break;
                case 'age':
                    flagAge = !flagAge;
                    frm[4].value = flagName;
                    sort(type, flagAge);
                    break;
                default:
                    throw new Error('error: sort 타입 없음');
            }
        }

        function sort(type, flag) {
            users.sort(function(a, b) {
                if(flag) {
                    if(type === "name")
                        return a[type] == b[type] ? 0 : a[type] > b[type] ? 1 : -1;
                    else return a[type] - b[type]
                } else {
                    if(type === "name")
                        return a[type] == b[type] ? 0 : a[type] > b[type] ? -1 : 1;
                    else return b[type] - a[type]
                }
            });
            showUsers();
        }

        function chkType() {
            if(frm[0].value === "" || frm[1].value === "") {
                return false;
            }
            return true;
        }

        function removeAll() {
            let isOk = confirm('모든 데이터를 삭제하시겠습니까?');

            if(isOk) {
                display.innerHTML = "";
            }
        }
    </script>
</body>
</html>